/* 부모 요소의 첫 번째 자식 */

p:first-child {
  color: blue;
}

p:nth-child(2) {
  color: green;
}

p:last-child {
  color: red;
}

p:not(.special) {
  background-color: yellow;
}

.container
p:nth-child(3) {
  background-color: green;
}