img {
  width: 200px;
  height: 200px;
}

div {
  width: 200px;
  height: 200px;
  margin: 30px;
}

.box1 {
  margin-bottom: 30px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
.box2 {
  margin-top: 20px;
  background-color: lightgreen;
}

.child {
  margin-bottom: 30px;
  background-color: lightcoral;
}